<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th>
            name
        </th>
        <th>
            description
        </th>
    </tr>

@{
    var lists = DependencyResolver.Current.GetService<PromptCloudNotes.Interfaces.ITaskListManager>().GetAllLists(1).Select(l => new Server.MvcModel.TaskList() { id = l.Id, name = l.Name, description = l.Description });
    foreach (var item in lists) {
    <tr>
        <td>
            @item.name
        </td>
        <td>
            @item.description
        </td>
        <td>
            @Html.ActionLink("Notes", "Index", "Notes", new { listId=item.id }, null)
        </td>
    </tr>
    }
}

</table>
