
@{
    var userManager = DependencyResolver.Current.GetService<PromptCloudNotes.Interfaces.IUserManager>();
    var user = userManager.GetUser(User.Identity.Name);
    var tlManager = DependencyResolver.Current.GetService<PromptCloudNotes.Interfaces.ITaskListManager>();
    var lists = tlManager.GetAllLists(user.Id).Select(l => new Server.MvcModel.TaskList() { id = l.Id, name = l.Name });   
}

<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">
        Lists
    </li>
    @foreach (var item in lists) {
        <li
            @if(item.id == ViewBag.SelectedList) { @:class="active dropdown"
            } else { @:class="dropdown"
            } >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @item.name
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                @*<li><i class="icon-book"></i> @Html.ActionLink("Notes", "Index", "Notes", new { listId=item.id }, null)</li>*@
                <li><a href="/Notes?listId=@item.id"><i class="icon-book"></i> Notes</a></li>
                <li><a class="link-edit-tasklist" href="/TaskLists/Edit/@item.id"><i class="icon-pencil"></i> Edit List</a></li>
                <li><a class="link-share-tasklist" href="/TaskLists/Share/@item.id"><i class="icon-user"></i> Share List</a></li>
            </ul>
        </li>
    }
    <li class="nav-header">
        Operations
    </li>
    <li>
        <a data-toggle="modal" href="#createListModal">Create New</a>
    </li>
</ul>

<div class="modal hide fade" id="createListModal">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <div class="modal-body">
        @using (Html.BeginForm("Create", "TaskLists", FormMethod.Post, new { @class = "form-horizontal", @id ="formTaskList" } )) {
            <fieldset>
                <legend>Note List</legend>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="name" data-bind="value: name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea class="input-xlarge" id="description" data-bind="value: description" rows="3"></textarea>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary" data-bind="click: doActionTaskList">Save</a>
  </div>
</div>

<div id="modalContainer"></div>
    