@model Server.MvcModel.TaskList

<div class="modal hide fade" id="editListModal">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <div class="modal-body">
        @using (Html.BeginForm("Edit", "TaskLists", FormMethod.Post, new { @class = "form-horizontal", @id = "formTaskList" }))
        {
            <fieldset>
                <legend>Note List</legend>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="name" data-bind="value: name" value="@Model.name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea class="input-xlarge" id="description" data-bind="value: description" rows="3" value="@Model.description"></textarea>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary" data-bind="click: doActionTaskList">Save</a>
  </div>
</div>

<script type="text/javascript">
$(function () {
    // Activates knockout.js
    var form = $("#editListModal");
    var model = new TaskListViewModel();
    model.name("@(Model.name)");
    model.description("@(Model.description)");
    ko.applyBindings(model, form[0]);
});
</script>
