@model int

<div class="modal hide fade" id="shareListModal">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <div class="modal-body">
        @using (Html.BeginForm("Share", "TaskLists", new { @id = @Model }, FormMethod.Post, new { @class = "form-horizontal", @id = "formTaskList" } ))
        {
            <fieldset>
                <legend>Share List</legend>
                <div class="control-group">
                    <label class="control-label" for="name">User</label>
                    <div class="controls">
                        <select data-bind="options: users,
                                           optionsCaption: 'Choose...',
                                           optionsText: 'name',
                                           value: selectedUser"></select>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary" data-bind="click: doActionTaskList">Save</a>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        // Activates knockout.js
        var form = $("#shareListModal");
        var model = new ShareTaskListModel(@Model);
        ko.applyBindings(model, form[0]);
    });
</script>
