@{
    ViewBag.Title = "Home";
}

<div class="hero-unit">

<h1>Prompt Cloud Notes</h1>

<p>Application for managing notes</p>

<p>@Html.ActionLink("Start", "Index", "TaskLists", null, new { @class = "btn btn-success btn-large" })</p>

</div>

