@model IEnumerable<Server.MvcModel.Note>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_TaskListsMenu")

<table>
    <tr>
        <th>
            name
        </th>
        <th>
            description
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.name
        </td>
        <td>
            @item.description
        </td>
    </tr>
}

</table>


