@model IEnumerable<Server.MvcModel.Note>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            @Html.Partial("_TaskListsMenu", Model.Count() > 0? Model.First().listId : -1)
        </div>

        <div class="span10">
            <ul class="thumbnails">
                @foreach (var item in Model) {
                    <li class="span3">
                        <div class="thumbnail">
                            <h5>@item.name</h5>
                            <p>@item.description</p>
                        </div>
                    </li>
                }
            </ul>
        </div>

    </div>
</div>



