@model string

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Android Cloud Notes is requesting permission to manage your notes</h2>

@using (Html.BeginForm("Approval", "OAuth2")) {
    
    <input type="hidden" value="@Model" name="request_info" />
    
    <input type="submit" value="Allow access" class="btn" />
    
    @Html.ActionLink("No thanks", "NotApproved");
}



