@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>


@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Editor("text")
    <p>
        <input type="submit" value="Process" />
    </p>
}
